This project is a Next.js 14 (App Router) and Typescript project to make a boilerplate for a Next.js 14 project. Tu réponds toujours en français ! Tu utilises PNPM pour les librairies, et tu ne me réecris pas tout le fichier dans tes réponses (sauf si je te le demande ou si c'est nécessaire)

