:root {
    --text-50: 217 52% 95%;
    --text-100: 218 53% 90%;
    --text-200: 217 53% 80%;
    --text-300: 217 52% 70%;
    --text-400: 217 52% 60%;
    --text-500: 217 52% 50%;
    --text-600: 217 52% 40%;
    --text-700: 217 52% 30%;
    --text-800: 217 53% 20%;
    --text-900: 218 53% 10%;
    --text-950: 217 52% 5%;
    
      --background-50: 0 0%  var(--background-25);
    --background-100: 208 33% 90%;
    --background-200: 210 33% 80%;
    --background-300: 211 33% 70%;
    --background-400: 210 33% 60%;
    --background-500: 210 33% 50%;
    --background-600: 210 33% 40%;
    --background-700: 211 33% 30%;
    --background-800: 210 33% 20%;
    --background-900: 212 33% 10%;
    --background-950: 210 31% 5%;
    
    --primary-50: 210 15% 95%;
    --primary-100: 213 18% 90%;
    --primary-200: 214 16% 80%;
    --primary-300: 216 16% 70%;
    --primary-400: 216 16% 60%;
    --primary-500: 215 16% 50%;
    --primary-600: 216 16% 40%;
    --primary-700: 216 16% 30%;
    --primary-800: 214 16% 20%;
    --primary-900: 213 18% 10%;
    --primary-950: 225 15% 5%;
    
    --secondary-50: 250 46% 95%;
    --secondary-100: 250 49% 90%;
    --secondary-200: 250 49% 80%;
    --secondary-300: 250 49% 70%;
    --secondary-400: 250 49% 60%;
    --secondary-500: 250 49% 50%;
    --secondary-600: 250 49% 40%;
    --secondary-700: 250 49% 30%;
    --secondary-800: 250 49% 20%;
    --secondary-900: 250 49% 10%;
    --secondary-950: 250 46% 5%;
    
    --accent-50: 265 46% 95%;
    --accent-100: 264 49% 90%;
    --accent-200: 263 49% 80%;
    --accent-300: 263 49% 70%;
    --accent-400: 263 49% 60%;
    --accent-500: 263 49% 50%;
    --accent-600: 263 49% 40%;
    --accent-700: 263 49% 30%;
    --accent-800: 263 49% 20%;
    --accent-900: 264 49% 10%;
    --accent-950: 260 46% 5%;
    
  }
  .dark {
    --text-50: 217 52% 5%;
    --text-100: 218 53% 10%;
    --text-200: 217 53% 20%;
    --text-300: 217 52% 30%;
    --text-400: 217 52% 40%;
    --text-500: 217 52% 50%;
    --text-600: 217 52% 60%;
    --text-700: 217 52% 70%;
    --text-800: 217 53% 80%;
    --text-900: 218 53% 90%;
    --text-950: 217 52% 95%;
    
      --background-50: 0 0%  var(--background-25);
    --background-100: 180 22% 10%;
    --background-200: 180 20% 20%;
    --background-300: 180 20% 30%;
    --background-400: 180 20% 40%;
    --background-500: 180 20% 50%;
    --background-600: 180 20% 60%;
    --background-700: 180 20% 70%;
    --background-800: 180 20% 80%;
    --background-900: 180 22% 90%;
    --background-950: 180 20% 95%;
    
    --primary-50: 225 15% 5%;
    --primary-100: 213 18% 10%;
    --primary-200: 214 16% 20%;
    --primary-300: 216 16% 30%;
    --primary-400: 216 16% 40%;
    --primary-500: 215 16% 50%;
    --primary-600: 216 16% 60%;
    --primary-700: 216 16% 70%;
    --primary-800: 214 16% 80%;
    --primary-900: 213 18% 90%;
    --primary-950: 210 15% 95%;
    
    --secondary-50: 250 46% 5%;
    --secondary-100: 250 49% 10%;
    --secondary-200: 250 47% 20%;
    --secondary-300: 250 48% 30%;
    --secondary-400: 250 48% 40%;
    --secondary-500: 250 48% 50%;
    --secondary-600: 250 48% 60%;
    --secondary-700: 250 48% 70%;
    --secondary-800: 250 47% 80%;
    --secondary-900: 250 49% 90%;
    --secondary-950: 250 46% 95%;
    
    --accent-50: 260 46% 5%;
    --accent-100: 264 49% 10%;
    --accent-200: 263 49% 20%;
    --accent-300: 263 49% 30%;
    --accent-400: 263 49% 40%;
    --accent-500: 263 49% 50%;
    --accent-600: 263 49% 60%;
    --accent-700: 263 49% 70%;
    --accent-800: 263 49% 80%;
    --accent-900: 264 49% 90%;
    --accent-950: 265 46% 95%;
    
  }