@import "../src/styles/color-themes.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background-25: 96.5%;
    /*  */
    --background: var(--background-50);
    --foreground: var(--background-200);
    --card: var(--background-100);
    --card-foreground: var(--text-500);
    --popover: var(--background-50);
    --popover-foreground: var(--background-900);
    --primary: var(--primary-200);
    --primary-foreground: var(--text-900);
    --secondary: var(--secondary-300);
    --secondary-foreground: var(--secondary-200);
    --muted: var(--secondary-50);
    --muted-foreground: var(--text-900);
    --accent: var(--accent-200);
    --accent-foreground: var(--accent-900);
    --destructive: var(--secondary-50);
    --destructive-foreground: var(--text-900);
    --border: var(--primary-400);
    --input: var(--background-300);
    --ring: var(--background-200);
    --radius: var(--rad);
    /*  */
    --background-bg: var(--background-50);
    /*  */
  }
  .dark {
    /*  */
    --background-25: 5%;
    --background: var(--background-50);
    --foreground: var(--background-900);
    --card: var(--background-100);
    --card-foreground: var(--text-900);
    --popover: var(--background-50);
    --popover-foreground: var(--background-900);
    --primary: var(--primary-300);
    --primary-foreground: var(--text-900);
    --secondary: var(--secondary-800);
    --secondary-foreground: var(--secondary-400);
    --muted: var(--secondary-50);
    --muted-foreground: var(--text-900);
    --accent: var(--accent-200);
    --accent-foreground: var(--accent-900);
    --destructive: var(--secondary-50);
    --destructive-foreground: var(--text-900);
    --border: var(--primary-200);
    --input: var(--background-200);
    --ring: var(--background-200);
    --radius: var(--rad);
  }

  * {
    @apply border-border font-sans text-base;
  }
  body {
    @apply text-text-900 dark:text-text-900/80 text-base;
  }
}
main {
  @apply min-h-screen min-w-full bg-background  mx-auto gap-4 text-center !important;
}
main > div:not(.first-connection) {
  @apply container;
}
.container:not(.first-connection) {
  @apply w-full max-w-6xl flex flex-col min-h-screen pt-28 !important;
}
header nav {
  @apply fixed w-full z-40 top-0 left-0  bg-background  border-b border-dashed border-secondary dark:border-secondary/30;
}
header nav div:first-child:not(.userNavbarDiv > *) {
  @apply max-w-screen-xl flex flex-wrap items-center  justify-between mx-auto p-4 py-[0.5rem];
}

a {
  @apply hover:underline font-bold  !important;
  position: relative;
}
a.nunderline {
  @apply hover:no-underline dark:hover:text-app-300 hover:text-app-700 text-app-900 dark:text-app-50 font-semibold !important;
}
a.special-uderline::after,
a.special-uderline-active::after {
  @apply rounded-full;
  content: "";
  position: absolute;
  bottom: -5px; /* Augmentez cette valeur pour espacer la ligne du texte */
  left: 0;
  width: 0;
  height: 3px;
  background-color: currentColor;
  transition: width 0.3s;
}

a.special-uderline:hover::after {
  width: 100%;
}

a.special-uderline-active::after {
  width: 100%;
  transition: none;
}

a.special-uderline-active {
  @apply text-app-700 dark:text-app-300 !important;
}

/* Main Menu */
ul.main-menu {
  @apply flex flex-col p-4 lg:p-0 mt-4 font-medium border border-primary rounded-default  md:flex-row md:space-x-8 md:mt-0 lg:border-0  text-base;
}
div.main-menu {
  @apply items-center  justify-between hidden w-full lg:flex md:w-auto md:order-1;
}
ul.main-menu li a {
  @apply nunderline block py-2 pl-3  pr-4 rounded-default text-text-800 dark:text-text-900  md:p-0 !important;
}
/* LOGO */
.logo {
  @apply flex font-bold items-center nunderline  gap-x-1 md:text-base text-xs;
}
.logo span {
  @apply self-center text-3xl whitespace-nowrap text-text-900;
}

/* Burger Menu */
div.burger-menu {
  @apply -z-10 lg:hidden absolute top-[4.5rem] left-0 w-full bg-app-200  border-b-2 border-t-2 border-app-300;
}
div.burger-menu ul {
  @apply text-base w-full text-center;
}
div.burger-menu ul li a {
  @apply no-underline block w-full hover:no-underline py-4 px-2 text-base font-bold  hover:bg-app-100 lg:hover:bg-transparent lg:hover:text-app lg:p-0 lg:dark:hover:text-app-500 dark:text-white dark:hover:bg-slate-700 dark:hover:text-white lg:dark:hover:bg-transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply dark:text-text-800/80 text-text-800 !important;
}
h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-bold;
}
h4 {
  @apply text-xl font-bold;
}
h5 {
  @apply text-lg font-bold;
}
h6 {
  @apply text-base font-bold;
}
p {
  @apply text-base dark:text-text-950/70 text-text-800;
}

a:hover {
  @apply underline;
}
.btn {
  @apply rounded-full px-4 py-2;
}
ul.ul {
  @apply list-disc list-inside mt-4 mb-4;
}
.icon {
  /* Icon size will relative to font-size of .text-wrapper */
  width: 1em;
  height: 1em;
  @apply mx-2 min-w-4;
}

/* NOTE - Navbar - Profil */
div.progressTokenVoid {
  @apply w-full   absolute z-10 rounded-full h-2 p-0 -mt-1 bg-secondary/30 !important;
}
div.progressToken {
  @apply bg-secondary h-2 p-0 z-20 rounded-full absolute -mt-1 !important;
  transition: width 2s ease-in-out; /* 0.5s est la durée de la transition */
}
.userNavbarDiv {
  @apply p-0 m-0 px-0 py-0 my-0 !important;
}
.userNavbarDiv div {
  @apply p-3;
}
/* NOTE - Tooltip */
.tooltip {
  @apply bg-secondary-foreground   rounded-default  text-accent-foreground  text-base px-2 py-1 z-50 max-w-xs mt-2 !important;
}
.theme-card .card-tooltip {
  @apply flex flex-col text-base px-2 py-1 z-50 max-w-xs mt-2 !important;
}
/* NOTE - Button */
.user-profile-buy-credit {
  @apply hover:no-underline bg-primary-foreground hover:bg-secondary hover:text-white dark:hover:text-text-400 text-secondary-foreground text-left pr-10  cursor-pointer mb-1 !important;
}
.first-connection {
  @apply w-screen h-screen  absolute bg-white z-[9999999999] !important;
}

/* SECTION : ADMIN */
.my-card {
  @apply dark:border-primary/40 border-primary bg-primary/10 border p-7 rounded-default;
}
.admin .theme-card {
  @apply p-2 rounded-default flex flex-col gap-1 justify-center items-center w-full col-span-2 border-2;
}
.admin .theme-card button {
  @apply md:p-5 p-2 rounded-full md:w-10 md:h-10 w-5 h-5;
}
.admin .theme-card p {
  @apply  max-md:text-sm max-sm:hidden  !important;
}
button {
  @apply max-sm:text-xs !important;
}

.admin .toggle-wrapper {
  @apply my-card flex relative flex-col gap-3 justify-center w-full hover:bg-secondary-foreground/10 cursor-pointer;
}
.admin .toggle-wrapper label {
  @apply md:text-base sm:text-sm text-xs !important;
}
.admin .toggle-wrapper .icon {
  @apply absolute top-0 -ml-5 mt-2 z-10;
}
.admin aside {
  @apply md:col-span-3 md:block hidden text-left rounded-default rounded-r-none border-secondary/10 p-5 border-r  relative;
}
.admin aside nav {
  @apply flex flex-col gap-y-5 sticky top-24 overflow-y-auto max-h-[80vh];
}
.admin aside nav ul {
  @apply text-left flex flex-col gap-y-0.5 mt-1;
}
.admin aside nav ul li {
  @apply text-left font-semibold p-0.5 hover:bg-primary-foreground/10 rounded-default cursor-pointer px-2 flex flex-row items-center gap-x-2 text-opacity-75;
}
.admin aside nav ul li.active {
  @apply bg-primary-foreground/10 font-bold !important;
}
.admin aside nav h3 {
  @apply text-lg font-bold flex flex-row items-center justify-between;
}
.admin div.admin-main {
  @apply md:col-span-9 col-span-full max-md:relative text-center flex flex-col gap-y-5;
}
.admin div.admin-main #headerAdminNavbar {
  @apply sticky top-16 bg-background z-30;
}
.admin div.admin-main #headerAdminNavbar h1 {
  @apply text-right pt-5;
}
.admin div.admin-main #headerAdminNavbar .separator {
  @apply mt-5 border-[1.5px]  rounded-full opacity-50;
}
.admin div .admin-main .admin-header-section {
  @apply bg-background z-20;
}
.admin div.admin-main .admin-main-content {
  @apply flex flex-col gap-y-5 px-2 mt-2;
}
.admin div.admin-main .admin-main-content .admin-section .multiple-components {
  @apply grid grid-cols-2 gap-5 px-2 mt-2;
}
.admin div.admin-main .admin-section {
  @apply min-h-[30vh];
}
form {
  @apply flex flex-col p-10 rounded-default !important;
}
form label {
  @apply text-left md:justify-between font-bold flex md:flex-row justify-start flex-col md:items-center !important;
}
form p {
  @apply text-left italic font-light justify-start flex mt-1 !important;
}
form p.error {
  @apply font-bold not-italic !important;
}
form button {
  @apply self-end float-right text-center !important;
}
/* NOTE --> Toaster  */
.toast-success {
  @apply bg-primary-foreground dark:bg-primary text-primary dark:text-primary-foreground border-0 shadow-lg !important;
}
.toast-success > button {
  @apply bg-primary text-text-900 dark:text-text-900 border-primary shadow-lg  !important;
}

.toggle-info {
  @apply text-sm opacity-75 mt-2;
}
.add-card {
  @apply my-card hover:bg-transparent hover:cursor-pointer !p-20 border-dashed flex flex-col justify-center gap-2 w-full !important;
}
.admin-plan-card {
  @apply my-card bg-primary/20 grayscale-[100%] !border-[3px] flex flex-col h-fit flex-1 gap-5 items-center relative;
}

.admin .admin-plan-card.active {
  @apply border-primary  border-4 grayscale-0  !important;
}

.admin .admin-plan-card .switch {
  @apply flex flex-row w-full justify-between  items-start  rounded-default  px-4 py-1 ;
}

.admin .admin-plan-card .switch button {
  @apply col-span-3 order-2;
}

.admin .admin-plan-card .switch label {
  @apply col-span-9 order-1 justify-self-end font-bold text-right cursor-pointer mt-1 !important;
}

.admin .admin-plan-card .inputs {
  @apply grid grid-cols-12 items-center w-full gap-x-2;
}

.admin .admin-plan-card .inputs label {
  @apply col-span-4 font-semibold text-left mt-2 cursor-pointer !important;
}
.admin .admin-plan-card .inputs input,
.admin .admin-plan-card .inputs select,
.admin .admin-plan-card .inputs textarea {
  @apply col-span-6;
}
.admin .admin-plan-card .inputs p span {
  @apply font-semibold text-left flex flex-col gap-y-1  text-xs opacity-60 !important;
}
label {
  @apply text-left font-semibold flex justify-start mb-2 !important;
}
.shadcn-inputs {
  @apply bg-secondary/10 dark:bg-primary/20;
}