@import "../src/styles/color-themes.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background-25: 98%;
    /*  */
    --background: var(--background-50);
    --foreground: var(--background-200);
    --card: var(--background-100);
    --card-foreground: var(--text-500);
    --popover: var(--background-50);
    --popover-foreground: var(--background-900);
    --primary: var(--primary-200);
    --primary-foreground: var(--text-900);
    --secondary: var(--secondary-300);
    --secondary-foreground: var(--secondary-200);
    --muted: var(--secondary-50);
    --muted-foreground: var(--text-900);
    --accent: var(--accent-200);
    --accent-foreground: var(--accent-900);
    --destructive: var(--secondary-50);
    --destructive-foreground: var(--text-900);
    --border: var(--primary-300);
    --input: var(--background-600);
    --ring: var(--background-400);
    --radius: var(--rad);
    --text-primary: var(--text-900);
    --background-bg: var(--background-50);
  }
  .dark {
    --background-25: 7%;
    --background: var(--background-50);
    --foreground: var(--background-900);
    --card: var(--background-100);
    --card-foreground: var(--text-900);
    --popover: var(--background-50);
    --popover-foreground: var(--background-900);
    --primary: var(--primary-300);
    --primary-foreground: var(--text-900);
    --secondary: var(--secondary-800);
    --secondary-foreground: var(--secondary-400);
    --muted: var(--secondary-50);
    --muted-foreground: var(--text-900);
    --accent: var(--accent-200);
    --accent-foreground: var(--accent-900);
    --destructive: var(--secondary-50);
    --destructive-foreground: var(--text-900);
    --border: var(--primary-200);
    --input: var(--background-200);
    --ring: var(--background-200);
    --radius: var(--rad);
    --gradient1: var(--grad1);
    --gradient2: var(--grad2);
  }
}
* {
  @apply border-border text-base selection:bg-theming-background-500-second selection:text-theming-text-100 dark:selection:text-theming-text-900;
}

body {
  @apply text-lg w-full !text-theming-text-950 font-sans bg-background;
}
main {
  @apply min-h-screen min-w-full w-full z-10 mx-auto gap-4 text-center !important;
}
main > div:not(.first-connection, .absolute-fullscreen-div),
main > section:not(.first-connection, .absolute-fullscreen-div) {
  @apply container;
}
.container {
  @apply max-w-7xl flex z-0 mt-10  min-h-[90vh] !important;
}
header {
  @apply sticky top-0 z-10 border-slate-900/10 dark:border-slate-100/5;
}
header nav {
  @apply md:px-0 px-5 w-full !z-[999999]  max-w-[87rem] mx-auto left-0 backdrop-blur-[12px]  border-secondary dark:border-secondary/30;
}
header nav div:first-child:not(.userNavbarDiv > *) {
  @apply flex flex-wrap items-center justify-between mx-0 py-[0.4rem] backdrop-grayscale;
}
header nav button {
  @apply no-underline !important;
}
a {
  @apply hover:underline font-bold  !important;
  position: relative;
}
a.nunderline {
  @apply hover:!no-underline  font-semibold;
}
a.special-uderline::after,
a.special-uderline-active::after {
  @apply rounded-full;
  content: "";
  position: absolute;
  bottom: -5px; /* Augmentez cette valeur pour espacer la ligne du texte */
  left: 0;
  width: 0;
  height: 3px;
  background-color: currentColor;
  transition: width 0.3s;
}

a.special-uderline:hover::after {
  width: 100%;
}

a.special-uderline-active::after {
  width: 100%;
  transition: none;
}

a.special-uderline-active {
  @apply text-primary-foreground dark:text-secondary !important;
}
.profile-link {
  @apply dark:text-theming-text-700 dark:hover:text-primary-foreground hover:bg-theming-background-200/50 !important;
}
/* Main Menu */
ul.main-menu {
  @apply flex md:flex-row flex-col p-4 lg:p-0 mt-4 font-medium border border-primary rounded-default   md:space-x-8 md:mt-0 lg:border-0  text-base;
}
div.main-menu {
  @apply items-center  justify-between hidden w-full lg:flex md:w-auto md:order-1;
}
ul.main-menu li a {
  @apply nunderline text-base !font-bold block py-2 pl-3  pr-4 rounded-default   md:p-0 !important;
}
/* LOGO */
.logo {
  @apply flex font-bold items-center nunderline  gap-x-1 md:mr-2 ml-4;
}
.logo span {
  @apply md:text-2xl text-xl flex flex-row items-center;
}
.logo span span.icon {
  @apply mr-1  !text-theming-text-500-second;
}
.logo span span.text {
  @apply !text-theming-text-900;
}
/* Button push effect */
.push-effect {
  transition: transform 0.1s ease-out;
}
.push-effect:active {
  transform: scale(0.95);
}
/* Burger Menu */
div.burger-menu {
  @apply -z-10 lg:hidden absolute top-[4.5rem] left-0 w-full bg-background  border-b-2 border-t-2 border-primary;
}
div.burger-menu ul {
  @apply text-base w-full text-center;
}
div.burger-menu ul li a {
  @apply no-underline block w-full hover:no-underline py-4 px-2 text-base font-bold  lg:hover:text-text-500 lg:p-0 lg:dark:hover:text-text-500 dark:text-white dark:hover:bg-slate-700 dark:hover:text-white lg:dark:hover:bg-transparent;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-theming-text-900 dark:text-theming-text-900;
}
h1 {
  @apply text-5xl font-bold;
}
h2 {
  @apply text-4xl font-bold;
}
h3 {
  @apply text-3xl font-bold;
}
h4 {
  @apply text-2xl font-bold;
}
h5 {
  @apply text-xl font-bold;
}
h6 {
  @apply text-lg font-bold;
}
p {
  @apply text-base dark:text-text-950/80 text-text-800 text-left;
}

a:hover {
  @apply underline;
}
.btn {
  @apply rounded-full px-4 py-2;
}
ul.ul {
  @apply list-disc list-inside mt-4 mb-4;
}
.icon {
  /* Icon size will relative to font-size of .text-wrapper */
  width: 1em;
  height: 1em;
  @apply mr-2 min-w-4;
}
strong,
span,
code,
small {
  font-size: inherit;
  @apply !text-inherit;
}
strong {
  @apply font-bold;
}

/* NOTE - Navbar - Profil */
div.progressTokenVoid {
  @apply w-full   absolute z-10 rounded-full h-2 p-0 -mt-1 bg-secondary/30 !important;
}
div.progressToken {
  @apply bg-secondary h-2 p-0 z-20 rounded-full absolute -mt-1 !important;
  transition: width 2s ease-in-out; /* 0.5s est la durée de la transition */
}
.userNavbarDiv {
  @apply p-0 m-0 px-0 py-0 my-0 !important;
}

/* NOTE - Tooltip */
.tooltip {
  @apply absolute !text-sm my-little-shadow  font-semibold !rounded-default  max-w-md dark:bg-theming-background-400 bg-theming-background-900 !opacity-100 !important;
  z-index: 9999999999;
}
.tooltip span {
  @apply text-white font-normal float-right;
  font-size: inherit !important;
  font-weight: inherit;
}

.theme-card .card-tooltip {
  @apply flex flex-col text-base px-2 py-1 z-50 max-w-xs mt-2 !important;
}
/* NOTE - Button */
.user-profile-buy-credit {
  @apply hover:no-underline bg-primary-foreground dark:bg-theming-background-200-second dark:text-theming-text-800 hover:bg-primary-foreground/80 hover:text-white dark:hover:bg-theming-text-400 text-secondary-foreground text-left pr-10  cursor-pointer mb-1 !important;
}
.user-profile-admin {
  @apply hover:no-underline bg-yellow-600 dark:bg-yellow-200 text-yellow-50 dark:text-yellow-800 hover:text-yellow-100 hover:bg-yellow-700 dark:hover:bg-yellow-500 text-left pr-10  cursor-pointer mb-1 !important;

}
.first-connection {
  @apply w-screen absolute bg-white dark:bg-theming-background-50  z-[9999999999] !important;
}
ol {
  @apply list-decimal pl-4 text-inherit list-outside text-sm;
}
ol li:not(.blog-breadcrumb) {
  @apply w-full;
}
/* SECTION : ADMIN */

.admin .theme-card {
  @apply p-2 rounded-default border-opacity-70 flex flex-col gap-1 justify-center items-center w-full  border-2;
}
.admin .theme-card button {
  @apply md:p-5 p-2 rounded-full md:w-10 md:h-10 w-5 h-5;
}
.admin .theme-card p {
  @apply 2xl:text-base font-semibold opacity-80 max-md:text-sm max-sm:hidden  !important;
}
/*  User Interface */
.user-interface {
  @apply grid grid-cols-12 w-full md:gap-0 gap-0;
}
.user-interface div.user-inteface-main {
  @apply md:col-span-9 col-span-full max-md:relative text-center flex flex-col gap-y-5  -mt-16;
}
.user-interface aside.user-inteface-aside {
  @apply col-span-3 md:block hidden text-left rounded-default rounded-r-none p-5  relative;
}
.admin {
  @apply min-w-fit;
}
.dashboard {
  @apply min-w-fit;
}
/*  */
.user-interface .switch-wrapper {
  @apply grid sm:grid-cols-12 max-sm:grid-rows-2 h-full max-sm:justify-center  min-h-36 items-center !border !border-transparent hover:!border-theming-primary-100 dark:hover:!border-theming-primary-200 dark:hover:bg-theming-background-200/10 bg-transparent justify-between dark:border-0 shadow-sm  dark:shadow-sm  cursor-pointer;
}
.user-interface .switch-wrapper label {
  @apply md:text-base sm:text-sm text-xs text-left  select-none hidden cursor-pointer font-semibold relative !important;
}
.user-interface .switch-wrapper div {
  @apply self-center col-span-10 grid sm:grid-cols-12 max-sm:row-span-1 gap-x-2 gap-y-2 sm:items-start  max-sm:text-center;
}
.user-interface .switch-wrapper div .icon {
  @apply mx-auto !text-xl mt-0.5 sm:col-span-2  max-sm:col-span-12 z-10;
}
.user-interface .switch-wrapper div span {
  @apply col-span-10 sm:pr-3 pr-0 max-sm:col-span-12;
}
.user-interface .switch-wrapper button {
  @apply self-center mx-auto sm:col-span-2  max-sm:row-span-1 max-sm:col-span-12;
}
.user-interface aside.user-inteface-aside nav {
  @apply flex flex-col gap-y-5 sticky top-24 pr-5 -mt-24 overflow-y-auto max-h-[90vh];
}
.user-interface aside.user-inteface-aside nav ul {
  @apply text-left flex flex-col gap-y-0.5 mt-1;
}
.user-interface aside.user-inteface-aside nav ul li {
  @apply flex flex-col  w-full gap-x-2;
}
.user-interface aside.user-inteface-aside nav ul li div {
  @apply flex flex-row  items-center justify-between text-primary-foreground/80 hover:bg-primary-foreground/10   !w-full !font-semibold p-0.5  rounded-default cursor-pointer;
}
.user-interface aside.user-inteface-aside nav ul li div span {
  @apply flex flex-row  items-center text-theming-text-900 font-semibold;
}
.user-interface aside.user-inteface-aside nav ul li.active div {
  @apply bg-primary-foreground/10 font-bold !important;
}
.user-interface aside.user-inteface-aside nav ul li.active div span {
  @apply font-bold !important;
}
.user-interface aside.user-inteface-aside nav ul li ul li.subactive {
  @apply bg-primary-foreground/5  font-bold flex flex-row !important;
}
.user-interface aside.user-inteface-aside nav ul li ul li.subitem {
  @apply flex flex-row text-sm text-left opacity-80 hover:bg-primary-foreground/5 justify-start font-medium p-0.5 pt-1 gap-x-0 rounded-default cursor-pointer pl-3;
}
.user-interface aside.user-inteface-aside nav ul li ul li.subitem:last-child {
  @apply mb-2;
}
.user-interface aside.user-inteface-aside nav h3 {
  @apply text-lg font-bold flex flex-row items-center justify-between !text-theming-text-700-second;
}

.user-interface div.user-inteface-main #headerAdminNavbar {
  @apply sticky top-14  z-30;
}
.user-interface div.user-inteface-main #headerAdminNavbar h1 {
  @apply text-center;
}
.user-interface div.user-inteface-main #headerAdminNavbar .separator {
  @apply mt-0 border-[1.5px]  rounded-full opacity-50;
}
.user-interface
  div
  .user-inteface-main
  .user-inteface-main-content-section-header {
  @apply z-20 w-full;
}
.user-interface
  div
  .user-inteface-main
  .user-inteface-main-content-section-header
  h2 {
  @apply flex flex-row  md:text-3xl gap-x-2 text-2xl mb-8 items-center justify-between;
}
.user-interface
  div
  .user-inteface-main
  .user-inteface-main-content-section-header
  h2
  span.section-name {
  @apply !flex !flex-row items-center  md:text-3xl gap-x-2;
}
.user-interface
  div
  .user-inteface-main
  .user-inteface-main-content-section-header
  h2
  span.main-section-name {
  @apply opacity-50 text-sm;
}
.user-interface
  div
  .user-inteface-main
  .user-inteface-main-content-section-header
  h2
  span.section-name
  .icon {
  @apply !z-10 text-3xl text-theming-text-900 opacity-80;
}
.user-interface div.user-inteface-main .user-inteface-main-content {
  @apply flex flex-col lg:max-w-5xl w-full mx-auto gap-y-20 2xl:px-10 md:px-2 mt-2;
}
.user-inteface .user-inteface-main-content-subsection {
  @apply rounded-default;
}
.user-interface
  div.user-inteface-main
  .user-inteface-main-content
  .user-inteface-main-content-section
  .multiple-components {
  @apply grid 2xl:grid-cols-2 xl:grid-cols-2 pt-10  max-sm:grid-cols-1 gap-10 px-2 mt-2;
}
.user-interface div.user-inteface-main .user-inteface-main-content-section {
  @apply rounded-default my-card;
}

form {
  @apply flex flex-col py-10 rounded-default !important;
}
form label {
  @apply text-left md:justify-between font-bold flex md:flex-row justify-start flex-col !text-base md:items-center !important;
}
form p {
  @apply text-left  font-medium text-theming-text-800 dark:text-theming-text-800 justify-start flex mt-1 opacity-50 !important;
}
form p.error {
  @apply font-bold not-italic !important;
}
form button {
  @apply self-end float-right text-center !important;
}
/* NOTE --> Toaster  */

.toast {
  @apply my-shadow mt-14 md:w-[40vh] sm:w-[80vh] py-8 h-auto right-0 bottom-0;
}
button[data-close-button] {
  @apply !-right-[0.475rem] !rounded !rounded-tl-none !rounded-br-none !top-[0.429rem] !border-none p-0 !text-2xl cursor-pointer;
  left: inherit !important;
}
/* :where([data-sonner-toast]) :where([data-close-button]) {
  @apply right-0;
  left:inherit !important;
} */
[data-title],
[data-description] {
  @apply ml-2 !py-0 my-0;
}
[data-title] {
  @apply text-base !py-0 dark:!text-theming-text-900-second text-theming-text-100-second;
}
[data-description] {
  @apply -mt-2;
}
.toast-success {
  @apply dark:bg-theming-background-100 bg-theming-background-900  my-shadow font-sans  !text-theming-text-50 dark:text-primary-foreground border-0 !important;
}
.toast-error {
  @apply bg-destructive font-sans  !text-red-50 dark:text-primary-foreground border-0 shadow-lg !important;
}
.toast-info {
  @apply font-sans bg-blue-500 !text-blue-50 border-0 shadow-lg !important;
}
.toast-success > button {
  @apply bg-theming-background-500 my-shadow !text-theming-text-50 dark:!text-theming-text-950 text-2xl  border-primary   !important;
}

.switch-info {
  @apply text-sm opacity-75 mt-2;
}
.admin-plan-card {
  @apply p-7  dark:hover:bg-theming-background-200/10 bg-transparent   dark:shadow-2xl  border border-theming-text-300/50 rounded-default flex flex-col h-fit flex-1 gap-5 items-center relative;
}
.admin-plan-card > input,
.admin-plan-card textarea {
  @apply border-0;
}
.admin-plan-card .plan-card-active-badge {
  @apply absolute  !font-semibold !rounded-bl-none !rounded-tr-none !rounded-default -mt-[1.85rem] -left-[0.07rem] !shadow-none  bg-theming-background-200-second dark:bg-theming-background-200-second dark:text-text-900 text-text-950 !important;
}
.admin-plan-card .plan-card-test-mode-badge {
  @apply bg-transparent border border-theming-text-300 opacity-50 !text-theming-text-800 dark:text-theming-text-800 !important;
}
.admin-plan-card .plan-card-live-mode-badge {
  @apply bg-transparent border border-theming-text-500 !important;
}
.admin-plan-card > input {
  @apply text-4xl;
}
.admin-plan-card textarea {
  @apply text-xl min-h-14 !important;
}
.admin .admin-plan-card.active {
  @apply opacity-100 border-theming-text-400/50 border dark:border-theming-text-300/50  bg-theming-background-100/20 shadow dark:shadow-2xl dark:bg-theming-background-200/10 !important;
}

.admin .admin-plan-card .switch {
  @apply flex flex-row w-full justify-between  items-start  rounded-default  px-4 py-1;
}

.admin .admin-plan-card .switch button {
  @apply col-span-3 order-2;
}

.admin .admin-plan-card .switch label {
  @apply col-span-9 order-1 justify-self-start font-bold text-left cursor-pointer mt-1 !important;
}

.admin .admin-plan-card .inputs {
  @apply grid grid-cols-12 items-center w-full gap-x-2;
}

.admin .admin-plan-card .inputs label {
  @apply col-span-4 font-semibold text-left mt-2 cursor-pointer !important;
}
.admin .admin-plan-card .inputs input,
.admin .admin-plan-card .inputs select,
.admin .admin-plan-card .inputs textarea {
  @apply col-span-6;
}
.admin .admin-plan-card .inputs p span {
  @apply font-semibold text-left flex flex-col gap-y-1  text-xs opacity-60 !important;
}
label {
  @apply !text-left font-bold text-theming-text-800   !important;
}
.shadcn-inputs {
  @apply bg-secondary/10 dark:bg-primary/20;
}
.dd-icon {
  @apply hover:cursor-grab cursor-grabbing text-text-500 opacity-50 hover:opacity-100 dark:text-secondary-foreground hover:text-accent-foreground;
}
.dragged {
  @apply !flex !justify-between items-center !cursor-grabbing hover:cursor-grabbing bg-transparent  z-[999999] shadow-2xl border opacity-50 border-dashed rounded-default !important;
}

.label {
  @apply !font-semibold cursor-pointer !text-base !important;
}

table.admin-features-table {
  @apply relative w-full !important;
}
table.admin-features-table th,
table.admin-features-table td {
  @apply p-2 py-3 text-left  !important;
}
table.admin-features-table td p {
  @apply text-sm  !important;
}
table.admin-features-table tbody {
  @apply my-5  !important;
}
table.admin-features-table th {
  @apply py-5 border-t-2  text-sm  text-left  !important;
}
table.admin-features-table thead {
  @apply bg-white dark:bg-theming-background-100 opacity-100 !z-20 dark:shadow-none shadow sticky top-0 !important;
}
.bar {
  @apply bg-primary dark:bg-primary border-primary !important;
}
.spinner,
.spinner-icon {
  @apply bg-transparent text-text-900 !important;
}
.shadow {
  @apply shadow-primary/50 !important;
}
code {
  @apply bg-primary/40 dark:bg-primary/40 mx-0.5 !text-inherit  p-1 rounded-default !important;
}

.StyledReceipt {
  width: 22rem;
  padding: 1rem 1rem 2rem;
  position: relative;
  z-index: 0;
  @apply rounded-default drop-shadow-sm;
}
.StyledReceipt:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  @apply dark:border-primary opacity-100  border-0 bg-theming-background-100/20;
  --mask: conic-gradient(
      from -45deg at bottom,
      #0000,
      #000 1deg 89deg,
      #0000 90deg
    )
    50%/30px 100%;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
/* Footer */

footer {
  @apply !min-h-[30vh] bg-theming-background-200/10 pt-20 grid md:grid-cols-4 max-md:grid-rows-4 md:justify-start justify-center w-full md:items-start items-center text-white p-6;
}
footer nav {
  @apply md:mt-0 mt-10 md:text-center max-md:flex max-md:flex-col max-md:items-center max-md:w-full;
}
footer h2 {
  @apply text-xl font-bold md:mx-auto ml-0 mb-5 flex flex-row items-center gap-x-2 !important;
}
footer a {
  @apply text-theming-text-900/80 font-normal !important;
}

/* SECTION  Gradients and UI styles */
/* NOTE : Gradients */
.gradient-to-tl {
  @apply bg-gradient-to-tl from-theming-background-50 to-theming-background-100/40 !important;
}
.gradient-to-tr {
  @apply bg-gradient-to-tr from-theming-background-50 to-theming-background-100/40 !important;
}
.gradient-to-bl {
  @apply bg-gradient-to-bl from-theming-background-50 to-theming-background-100/40 !important;
}
.gradient-to-br {
  @apply bg-gradient-to-br from-theming-background-50 to-theming-background-100/40 !important;
}
.gradient-to-l {
  @apply bg-gradient-to-l from-theming-background-50 to-theming-background-100/40 !important;
}
.gradient-to-r {
  @apply bg-gradient-to-r from-theming-background-50 to-theming-background-100/40 !important;
}
.gradient-to-b {
  @apply bg-gradient-to-b from-theming-background-50 to-theming-background-100/40 !important;
}
.gradient-to-t {
  @apply bg-gradient-to-t from-theming-background-50 to-theming-background-100/40 !important;
}
.gradient-to-tl-second {
  @apply bg-gradient-to-tl from-theming-background-600-second to-theming-background-100/40 !important;
}
.gradient-to-tr-second {
  @apply bg-gradient-to-tr from-theming-background-600-second to-theming-background-100/40 !important;
}
.gradient-to-bl-second {
  @apply bg-gradient-to-bl from-theming-background-600-second to-theming-background-100/40 !important;
}
.gradient-to-br-second {
  @apply bg-gradient-to-br from-theming-background-600-second to-theming-background-100/40 !important;
}
.gradient-to-l-second {
  @apply bg-gradient-to-l from-theming-background-600-second to-theming-background-100/40 !important;
}
.gradient-to-r-second {
  @apply bg-gradient-to-r from-theming-background-600-second to-theming-background-100/40 !important;
}
.gradient-to-b-second {
  @apply bg-gradient-to-b from-theming-background-600-second to-theming-background-100/40 !important;
}
.gradient-to-t-second {
  @apply bg-gradient-to-t from-theming-background-600-second to-theming-background-100/40 !important;
}
.gradient-400-second {
  @apply from-theming-background-400-second !important;
}
.gradient-500-second {
  @apply from-theming-background-500-second !important;
}
.gradient-600-second {
  @apply from-theming-background-600-second !important;
}
/* NOTE : UI fancy elements */
.absolute-fullscreen-div {
  @apply fixed w-screen blur-3xl h-full  top-0 -z-10 !important;
}
.div-rounded-full-blured {
  @apply rounded-full absolute blur-3xl top-0 left-0 !important;
}
/* NOTE Price card */
.price-card-wrapper {
  @apply w-full flex flex-col gap-y-2 relative !mx-0 px-4;
}
.price-card-wrapper.card-popular {
  @apply !outline dark:outline-offset-4 outline-offset-2 outline-[3px] dark:outline-theming-background-500-second outline-theming-background-400-second;
}
.price-card-wrapper h1 {
  @apply text-left text-theming-text-600-second !important;
}
.price-card-wrapper p.description {
  @apply text-sm text-theming-text-900/70;
}

.price-card-wrapper h2 {
  @apply text-sm font-medium text-left !important;
}
.price-card-wrapper h3 {
  @apply text-5xl my-5 text-left relative font-bold text-theming-text-700-second  !important;
}
.price-card-wrapper h3 span.price-stroke {
  @apply opacity-50 text-lg line-through   !important;
}
.price-card-wrapper h3 span.recurrence {
  @apply text-lg opacity-50   !important;
}

.price-card-wrapper h3 span.trial {
  @apply text-sm  font-normal inline-block !important;
}

.my-shadow {
  box-shadow: 23.8px 23.8px 25.8px rgba(0, 0, 0, 0.019),
    27.2px 27.2px 49.5px rgba(0, 0, 0, 0.027),
    19px 19px 63.8px rgba(0, 0, 0, 0.033),
    11.2px 11.2px 72.9px rgba(0, 0, 0, 0.041),
    100px 100px 80px rgba(0, 0, 0, 0.06);
}
.my-little-shadow {
  box-shadow: 7.3px 15.3px 3.9px -36px rgba(0, 0, 0, 0.03),
    19px 40px 31px -36px rgba(0, 0, 0, 0.06);
}

.dark .my-card:not(.tooltip) {
  @apply rounded-default my-shadow bg-theming-background-200/20  !important;
}
.my-card {
  @apply rounded-default bg-white   !important;
}

.button-in-input {
  @apply z-50  p-2  items-center  whitespace-nowrap push-effect rounded-md  font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-theming-text-200 dark:text-theming-text-700 dark:bg-theming-text-200 bg-theming-text-500 dark:hover:bg-theming-text-500/20 hover:bg-theming-text-500/90 text-sm;
}

table.user-dialog-subscriptions tbody td {
  @apply !text-sm;
}

/* SECTION : BLOG */
/* REACT SELECT CONTAINER */
.react-select-container {
  @apply shadcn-inputs h-auto flex flex-row items-center rounded-default  !important;
}

.react-select-container .react-select__control {
  @apply w-full bg-transparent focus:border-0 file:border-0 border border-input/20 dark:border-input  ring-offset-theming-text-500 focus:ring focus:ring-theming-text-400 cursor-text;
}

.react-select-container
  .react-select__control
  .react-select__control--is-focused {
  @apply border-0 w-full bg-transparent shadow-none focus:border-0 focus:ring-0;
}

.react-select-container
  .react-select__control
  .react-select__control--is-focused
  .react-select__control--menu-is-open {
  @apply border-0 w-full bg-transparent focus:border-0 focus:ring-0;
}

.react-select-container
  .react-select__control
  .react-select__control--is-focused
  .react-select__control--menu-is-open
  .react-select__value-container {
  @apply border-0 bg-transparent focus:border-0 focus:ring;
}

.react-select-container .react-select__menu-list {
  @apply bg-theming-background-50 dark:bg-theming-background-500 shadow-theming-text-100 rounded-b rounded-t-none !important;
}

.react-select-container .react-select__menu-list .react-select__option {
  @apply hover:bg-theming-background-100 dark:bg-theming-text-400 text-theming-text-900 focus:bg-theming-text-100 active:bg-theming-text-100;
}

.react-select-container
  .react-select__menu-list
  .react-select__option--is-focused {
  @apply bg-theming-text-500 dark:bg-theming-text-500 text-theming-text-100  !important;
}

.react-select-container .react-select__multi-value__remove {
  @apply bg-theming-background-300/50 ml-2 hover:bg-theming-background-400/50 rounded-l-none rounded-r-default hover:text-theming-text-50;
}
.react-select-container .react-select__multi-value {
  @apply bg-theming-background-300  text-theming-text-900 dark:text-theming-text-900/80 dark:bg-theming-background-300/80 rounded-default;
}
.react-select-container .react-select__multi-value__label {
  @apply text-theming-text-900 dark:text-theming-text-900/80;
}
.react-select-container .react-select__menu-notice--no-options {
  @apply text-theming-text-400 !important;
}

.react-select-container .react-select__menu {
  @apply rounded-b rounded-t-none shadow-theming-text-300 shadow-sm mt-0.5  border-theming-text-500 !important;
}

.textareaBlogPostEditor {
  @apply border-[1px] outline-0 border-theming-text-300 max-h-[92vh] shadow-t-lg  md:h-[50vh] h-[30vh] p-5 rounded-t-lg border-l-0 border-r-0 text-base border-t-[5px] border-t-theming-text-500 z-10 dark:bg-white !opacity-100;
  background-color: hsl(var(--background-100) / 1) !important;
  /* no outline on focus */
}

.textarea-container {
  position: sticky;
}

.textarea-resizer {
  @apply rounded-t-xl bg-theming-background-500 cursor-ns-resize;
  position: absolute;
  top: 1px;
  right: 0px;
  width: 100%;
  height: 5px;
}

/* textarea {
  width: 100%;
  height: 100%;
  resize: none;
  outline: none;
} */

/* article h1 {
  @apply text-4xl font-bold mt-8 mb-4;
}
article h2 {
  @apply text-3xl font-bold mt-7 mb-3;
}
article h3 {
  @apply text-2xl font-bold mt-6 mb-3;
}
article h4 {
  @apply text-xl font-bold mt-5 mb-2;
}
article h5 {
  @apply text-lg font-bold mt-4 mb-2;
}
article h6 {
  @apply text-base font-bold mt-3 mb-2;
}
*/

article p {
  @apply text-lg text-justify md:pl-2 mt-4 mb-4 !important;
}
article em,
article i {
  @apply italic;
}
article strong,
article b {
  @apply font-bold;
}
article del {
  @apply line-through;
}
article blockquote {
  @apply border-l-4 border-theming-text-300 bg-theming-text-50 rounded py-2 pl-4 italic my-4;
}
article ul {
  @apply list-disc list-inside mt-4 mb-4;
}
article ol {
  @apply list-decimal list-inside mt-4 mb-4;
}

article a {
  @apply text-theming-text-700;
}
article img {
  @apply max-w-full h-auto my-4;
}
article pre {
  @apply bg-gray-100 p-4 rounded mt-4 mb-4;
}
article code {
  @apply text-sm bg-gray-100 rounded p-1;
}

article hr {
  @apply border-t border-gray-300 my-8;
}
article table {
  @apply w-full border-collapse my-4;
}
article th,
article td {
  @apply border border-gray-300 px-4 py-2;
}
article .task-list-item {
  @apply list-none list-inside;
}
.input-blog-title {
  @apply md:text-4xl text-3xl  h-auto font-bold !important;
}
.input-blog-image {
  @apply border-none h-auto italic !important;
}

.blog-sidebar {
  @apply flex flex-col h-[85vh] md:pl-4 -mt-3;
}
.blog-sidebar h3 {
  @apply text-lg flex flex-row justify-between items-center !important;
}

/* SECTION : Home sections */

#home .features {
  text-align: center;
  padding: 5rem 0;
}
#home .testimonials {
  background-color: white;
  text-align: center;
  padding: 5rem 0;
}
.user-profile-dd {
  @apply w-full mt-4 rounded-default !max-h-80 border-none border-theming-text-800 dark:border-theming-text-100 bg-transparent backdrop-blur-3xl ring-1 ring-offset-2 ring-offset-transparent ring-theming-text-500/30 !important;
}
.user-profile-dd a {
  @apply py-2 
  !important;
}
.dropdown-arrow polygon {
  @apply dark:fill-theming-text-500 fill-theming-text-800 shadow-2xl;
}

/* SECTION : My Tailwind classes */

.flex-row-center {
  @apply flex flex-row items-center;
}
.flex-col-center {
  @apply flex flex-col items-center;
}
.my-disabled {
  @apply opacity-50 pointer-events-none !important;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

.custom-badge::after {
  @apply border-t-4 border-theming-text-300-second;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: -4px; 
}

