@import "../src/styles/color-themes.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background-25: 98%;
    /*  */
    --background: var(--background-50);
    --foreground: var(--background-200);
    --card: var(--background-100);
    --card-foreground: var(--text-500);
    --popover: var(--background-50);
    --popover-foreground: var(--background-900);
    --primary: var(--primary-200);
    --primary-foreground: var(--text-900);
    --secondary: var(--secondary-300);
    --secondary-foreground: var(--secondary-200);
    --muted: var(--secondary-50);
    --muted-foreground: var(--text-900);
    --accent: var(--accent-200);
    --accent-foreground: var(--accent-900);
    --destructive: var(--secondary-50);
    --destructive-foreground: var(--text-900);
    --border: var(--primary-300);
    --input: var(--background-600);
    --ring: var(--background-400);
    --radius: var(--rad);
    --text-primary: var(--text-900);
    --background-bg: var(--background-50);
  }
  .dark {
    --background-25: 7%;
    --background: var(--background-50);
    --foreground: var(--background-900);
    --card: var(--background-100);
    --card-foreground: var(--text-900);
    --popover: var(--background-50);
    --popover-foreground: var(--background-900);
    --primary: var(--primary-300);
    --primary-foreground: var(--text-900);
    --secondary: var(--secondary-800);
    --secondary-foreground: var(--secondary-400);
    --muted: var(--secondary-50);
    --muted-foreground: var(--text-900);
    --accent: var(--accent-200);
    --accent-foreground: var(--accent-900);
    --destructive: var(--secondary-50);
    --destructive-foreground: var(--text-900);
    --border: var(--primary-200);
    --input: var(--background-200);
    --ring: var(--background-200);
    --radius: var(--rad);
    --gradient1: var(--grad1);
    --gradient2: var(--grad2);
  }
}
* {
  @apply border-border text-base;
}
body {
  @apply text-lg !text-theming-text-900 font-sans;
}
main {
  @apply min-h-screen min-w-full bg-background  w-full  mx-auto gap-4 text-center !important;
}
main > div:not(.first-connection) {
  @apply container;
}
.container:not(.first-connection) {
  @apply !w-full max-w-7xl flex flex-col min-h-screen pt-28 !important;
}
header nav {
  @apply fixed xl:px-8 px-0 w-full z-40 top-0 left-0  bg-background  border-secondary dark:border-secondary/30;
}
header nav div:first-child:not(.userNavbarDiv > *) {
  @apply  flex flex-wrap items-center  justify-between mx-auto p-4 py-[0.5rem];
}

a {
  @apply hover:underline font-bold  !important;
  position: relative;
}
a.nunderline {
  @apply hover:!no-underline  font-semibold;
}
a.special-uderline::after,
a.special-uderline-active::after {
  @apply rounded-full;
  content: "";
  position: absolute;
  bottom: -5px; /* Augmentez cette valeur pour espacer la ligne du texte */
  left: 0;
  width: 0;
  height: 3px;
  background-color: currentColor;
  transition: width 0.3s;
}

a.special-uderline:hover::after {
  width: 100%;
}

a.special-uderline-active::after {
  width: 100%;
  transition: none;
}

a.special-uderline-active {
  @apply text-primary-foreground dark:text-secondary !important;
}
a.profile-link {
  @apply dark:text-primary-foreground dark:hover:text-primary-foreground hover:bg-primary/50 !important;
}
/* Main Menu */
ul.main-menu {
  @apply flex flex-col p-4 lg:p-0 mt-4 font-medium border border-primary rounded-default  md:flex-row md:space-x-8 md:mt-0 lg:border-0  text-base;
}
div.main-menu {
  @apply items-center  justify-between hidden w-full lg:flex md:w-auto md:order-1;
}
ul.main-menu li a {
  @apply nunderline text-base !font-bold block py-2 pl-3  pr-4 rounded-default   md:p-0 !important;
}
/* LOGO */
.logo {
  @apply flex font-bold items-center nunderline  gap-x-1 md:text-base text-xs;
}
.logo span {
  @apply self-center text-3xl whitespace-nowrap text-text-900;
}

/* Burger Menu */
div.burger-menu {
  @apply -z-10 lg:hidden absolute top-[4.5rem] left-0 w-full bg-background  border-b-2 border-t-2 border-primary;
}
div.burger-menu ul {
  @apply text-base w-full text-center;
}
div.burger-menu ul li a {
  @apply no-underline block w-full hover:no-underline py-4 px-2 text-base font-bold  lg:hover:text-text-500 lg:p-0 lg:dark:hover:text-text-500 dark:text-white dark:hover:bg-slate-700 dark:hover:text-white lg:dark:hover:bg-transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-theming-text-900 dark:text-theming-text-900/80 !important;
}
h1 {
  @apply text-5xl font-bold;
}
h2 {
  @apply text-4xl font-bold;
}
h3 {
  @apply text-3xl font-bold;
}
h4 {
  @apply text-2xl font-bold;
}
h5 {
  @apply text-xl font-bold;
}
h6 {
  @apply text-lg font-bold;
}
p {
  @apply text-base dark:text-text-950/80 text-text-800;
}

a:hover {
  @apply underline;
}
.btn {
  @apply rounded-full px-4 py-2;
}
ul.ul {
  @apply list-disc list-inside mt-4 mb-4;
}
.icon {
  /* Icon size will relative to font-size of .text-wrapper */
  width: 1em;
  height: 1em;
  @apply mx-2 min-w-4;
}
strong,
span,
small {
  @apply !text-inherit;
}
/* NOTE - Navbar - Profil */
div.progressTokenVoid {
  @apply w-full   absolute z-10 rounded-full h-2 p-0 -mt-1 bg-secondary/30 !important;
}
div.progressToken {
  @apply bg-secondary h-2 p-0 z-20 rounded-full absolute -mt-1 !important;
  transition: width 2s ease-in-out; /* 0.5s est la durée de la transition */
}
.userNavbarDiv {
  @apply p-0 m-0 px-0 py-0 my-0 !important;
}
.userNavbarDiv div {
  @apply p-3;
}
/* NOTE - Tooltip */
.tooltip {
  @apply bg-theming-background-900 text-theming-text-50 dark:bg-theming-background-200   rounded-default  dark:text-primary-foreground   text-sm p-4 z-50 max-w-xs mt-2 !important;
}

.theme-card .card-tooltip {
  @apply flex flex-col text-base px-2 py-1 z-50 max-w-xs mt-2 !important;
}
/* NOTE - Button */
.user-profile-buy-credit {
  @apply hover:no-underline bg-primary-foreground hover:bg-primary-foreground/80 hover:text-white dark:hover:text-text-400 text-secondary-foreground text-left pr-10  cursor-pointer mb-1 !important;
}
.first-connection {
  @apply w-screen h-screen  absolute bg-white dark:bg-slate-900 z-[9999999999] !important;
}

/* SECTION : ADMIN */
.my-card {
  @apply p-7 rounded-default;
}
.admin .theme-card {
  @apply p-2 rounded-default flex flex-col gap-1 justify-center items-center w-full  border-2;
}
.admin .theme-card button {
  @apply md:p-5 p-2 rounded-full md:w-10 md:h-10 w-5 h-5;
}
.admin .theme-card p {
  @apply 2xl:text-xs max-md:text-sm max-sm:hidden  !important;
}

.user-interface .toggle-wrapper {
  @apply grid grid-rows-6 items-center !border !border-transparent hover:!border-theming-primary-500 justify-between grid-cols-1 dark:border-0 shadow-lg  dark:shadow-sm  cursor-pointer;
}
.user-interface .toggle-wrapper label {
  @apply md:text-base sm:text-sm text-xs text-left !important;
}
.user-interface .toggle-wrapper .icon {
  @apply mx-auto !text-2xl  z-10;
}
.user-interface .toggle-wrapper p {
  @apply self-start pt-5;
}
.user-interface aside {
  @apply col-span-2 md:block hidden text-left rounded-default rounded-r-none p-5  relative;
}
.user-interface aside nav {
  @apply flex flex-col gap-y-5 sticky top-24 pr-5 -mt-24 overflow-y-auto max-h-[90vh];
}
.user-interface aside nav ul {
  @apply text-left flex flex-col gap-y-0.5 mt-1;
}
.user-interface aside nav ul li {
  @apply flex flex-col  w-full gap-x-2;
}
.user-interface aside nav ul li div {
  @apply flex flex-row  items-center justify-between text-primary-foreground/80 hover:bg-primary-foreground/10  !w-full font-bold p-0.5  rounded-default cursor-pointer;
}
.user-interface aside nav ul li div span {
  @apply flex flex-row  items-center text-theming-text-900 font-[700];
}
.user-interface aside nav ul li.active div {
  @apply bg-primary-foreground/10 font-bold !important;
}
.user-interface aside nav ul li ul li.subactive {
  @apply bg-primary-foreground/5  font-bold flex flex-row !important;
}
.user-interface aside nav ul li ul li.subitem {
  @apply flex flex-row text-sm text-left opacity-80 hover:bg-primary-foreground/5 justify-start font-semibold p-0.5 pt-1 gap-x-0 rounded-default cursor-pointer pl-3;
}
.user-interface aside nav ul li ul li.subitem:last-child {
  @apply mb-2;
}
.user-interface aside nav h3 {
  @apply text-lg font-bold flex flex-row items-center justify-between;
}

.user-interface div.user-inteface-main {
  @apply md:col-span-10 col-span-full max-md:relative text-center flex flex-col gap-y-5 -mt-16;
}
.user-interface div.user-inteface-main #headerAdminNavbar {
  @apply sticky top-16 bg-background z-30;
}
.user-interface div.user-inteface-main #headerAdminNavbar h1 {
  @apply text-center pt-5;
}
.user-interface div.user-inteface-main #headerAdminNavbar .separator {
  @apply mt-5 border-[1.5px]  rounded-full opacity-50;
}
.user-interface
  div
  .user-inteface-main
  .user-inteface-main-content-section-header {
  @apply bg-background z-20;
}
.user-interface div.user-inteface-main .user-inteface-main-content {
  @apply flex flex-col gap-y-20 2xl:px-10 md:px-2 mt-2 ;
}
.user-interface
  div.user-inteface-main
  .user-inteface-main-content
  .user-inteface-main-content-section
  .multiple-components {
  @apply grid 2xl:grid-cols-4 xl:grid-cols-2  max-sm:grid-cols-1 gap-10 px-2 mt-2;
}
.user-interface div.user-inteface-main .user-inteface-main-content-section {
  @apply min-h-[30vh];
}
form {
  @apply flex flex-col p-10 rounded-default !important;
}
form label {
  @apply text-left md:justify-between font-bold flex md:flex-row justify-start flex-col !text-base md:items-center !important;
}
form p {
  @apply text-left italic font-light justify-start flex mt-1 !important;
}
form p.error {
  @apply font-bold not-italic !important;
}
form button {
  @apply self-end float-right text-center !important;
}
/* NOTE --> Toaster  */
.toast-success {
  @apply bg-primary-foreground font-sans dark:bg-primary !text-theming-text-50 dark:text-primary-foreground border-0 shadow-lg !important;
}
.toast-success > button {
  @apply bg-theming-background-500 !text-theming-text-50 dark:!text-theming-text-950  border-primary shadow-lg  !important;
}

.toggle-info {
  @apply text-sm opacity-75 mt-2;
}
.add-card {
  @apply my-card hover:bg-transparent hover:cursor-pointer !p-20 border-dashed flex flex-col justify-center gap-2 w-full !important;
}
.admin-plan-card {
  @apply my-card  !border-[3px] flex flex-col h-fit flex-1 gap-5 items-center relative;
}
.admin-plan-card > input,
.admin-plan-card textarea {
  @apply border-0;
}
.admin-plan-card > input {
  @apply text-4xl;
}
.admin-plan-card textarea {
  @apply text-xl min-h-2 h-14 !important;
}
.admin .admin-plan-card.active {
  @apply border-secondary dark:border-primary  border-2 grayscale-0  !important;
}

.admin .admin-plan-card .switch {
  @apply flex flex-row w-full justify-between  items-start  rounded-default  px-4 py-1;
}

.admin .admin-plan-card .switch button {
  @apply col-span-3 order-2;
}

.admin .admin-plan-card .switch label {
  @apply col-span-9 order-1 justify-self-start font-bold text-left cursor-pointer mt-1 !important;
}

.admin .admin-plan-card .inputs {
  @apply grid grid-cols-12 items-center w-full gap-x-2;
}

.admin .admin-plan-card .inputs label {
  @apply col-span-4 font-semibold text-left mt-2 cursor-pointer !important;
}
.admin .admin-plan-card .inputs input,
.admin .admin-plan-card .inputs select,
.admin .admin-plan-card .inputs textarea {
  @apply col-span-6;
}
.admin .admin-plan-card .inputs p span {
  @apply font-semibold text-left flex flex-col gap-y-1  text-xs opacity-60 !important;
}
label {
  @apply !text-left font-bold text-theming-text-800   !important;
}
.shadcn-inputs {
  @apply bg-secondary/10 dark:bg-primary/20;
}
.dd-icon {
  @apply hover:cursor-grab cursor-grabbing text-text-500 opacity-50 hover:opacity-100 dark:text-secondary-foreground hover:text-accent-foreground;
}
.dragged {
  @apply !cursor-grabbing hover:cursor-grabbing bg-background  z-[999999] shadow-2xl border opacity-50 border-dashed rounded-default !important;
}
.plan-card-active-badge {
  @apply absolute hover:bg-secondary dark:hover:bg-primary  !font-semibold !rounded-bl-none !rounded-tr-none !rounded-default -mt-[1.85rem] -left-[0.07rem] !shadow-none  bg-secondary dark:bg-primary dark:text-text-900 text-text-900 !important;
}

.label {
  @apply !font-semibold cursor-pointer !text-base !important;
}

table.admin-features-table {
  @apply table-auto  !important;
}
table.admin-features-table th,
table.admin-features-table td {
  @apply p-2 py-3 text-left  !important;
}
table.admin-features-table td p {
  @apply text-sm  !important;
}
table.admin-features-table tbody {
  @apply my-5  !important;
}
table.admin-features-table th {
  @apply py-5 border-t  border-dashed text-sm  text-left  !important;
}
table.admin-features-table thead {
  @apply bg-primary/20 dark:bg-primary/20 dark:shadow-none shadow !important;
}
.bar {
  @apply bg-primary dark:bg-primary border-primary !important;
}
.spinner,
.spinner-icon {
  @apply bg-transparent text-text-900 !important;
}
.shadow {
  @apply shadow-primary/50 !important;
}
code {
  @apply bg-primary/10 dark:bg-primary/40  p-1 rounded-default !important;
}
.user-profile-dd {
  @apply w-full border-0 shadow-2xl bg-theming-background-50 dark:bg-theming-background-100 ;
}
.user-profile-dd a {
  @apply py-2 !important;
}